@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
	margin: 0;
	padding: 0;

	box-sizing: border-box;
}

body {
	background: #f1f5f8;
	font-family: 'Poppins', sans-serif;
	color: #222;
}

.booklist {
	width: 90vw;
	max-width: 1170px;
	margin: 5rem auto;
	display: grid;
	align-items: start;
	gap: 2rem;
}

@media screen and (min-width: 768px) {
	.booklist {
		grid-template-columns: repeat(3, 1fr);
	}
}

.book {
	background: #fff;
	border-radius: 1rem;
	padding: 1rem 2rem;
}

.book h1 {
	margin-top: 0.5rem;
}

.book h4 {
	color: #617d98;
	font-size: 0.75rem;
	margin-top: 0.25;
}

.book p {
	margin-top: 0.5rem;
}
